body{
    font-family: sans-serif;
    color: #202020;
}
.appBar{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-shadow: 0px 0px 10px;
    margin: 0;
    z-index: 2;
}
.sideBut{
    border: none;
    background: none;
    padding: 10px;
    border-bottom: solid white 3px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.sideBut:hover{
    border-bottom: solid black 3px;
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container{
    margin-top: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}
.about{
    width: 600px;
    height: 500px;
    color: white;
    background-color: #202020;
    text-align: center;
}
.search{
    background-color: white;
    color: grey;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    cursor: pointer;
}
.categories{
    background-image: url(./Images/bg2.jpg);
    background-attachment: fixed;
}