.about-wallpaper{
    background-image: url(../../Images/about-page-wallpaper.png);
    height: 80vh;
    background-size: cover;
}
.about-wallpaper-overlay{
    position: absolute;
    height: 80vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}
.future-of-learning{
    font-size: 30px;
}