.contain{
    width: 100%;
    max-width: 100%;
}
.subContain{
    display: flex;
    justify-content: left;
    padding-left: 30px;
    align-content: center;
    box-shadow: 0px 0px 10px #7b59ff;
    height: auto;
    overflow: hidden;
}
.courses{
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    width: 250px;
}
.courses:hover{
    box-shadow: 0px 0px 10px;
}
.enroll{
    width: 20%;
    position: fixed;
    top: 30%;
    right: 0;
    padding: 20px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px;
}