body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.appBar{
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -1px 10px grey;
}
.sideBut{
  border: none;
  background: none;
  padding: 10px;
  border-bottom: solid white 3px;
  cursor: pointer;
  outline: none;
}
.sideBut:hover{
  border-bottom: solid black 3px;
}
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('./Images/website.png');
  min-height:100%;
  height: 600px;
}

.pimg2{
  min-height:600px;
}

.pimg3{
  min-height:400px;
  height: auto;
  opacity: 1;
}

.section{
  text-align:center;
  padding:20px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.search{
  padding: 10px;
  border: solid 1px grey;
  font-size: 15px;
  letter-spacing: normal;
  width: 60%;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  background-color: white;
  color: black;
}
.para{
  background-image: url(./Images/bg2.jpg);
  background-attachment: fixed;
}
.paraText{
  color: black;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0px 0px 20px #fd7c98;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}

